.image-starbucks{
    /* height: 200px; */
    background: rgb(175, 90, 104)
}

.card-starbuks {
    height: 40rem;
    border-radius: 20px;
}

.card-text{
    margin-top: -20px;
    text-align: center;
}

.cont-all-stores{
    background: #2B3C35;
    padding: 3rem;
}

.img-add{
    background: url("./images/starbuscks-header-add.png");
    background-size: cover;
    height: 27rem;
    background-repeat: no-repeat;
}

.loading-page{
    background: url("./images/happy-load.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15rem;
    height: 20rem;
}

.cont-load-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    flex-direction: column;
}

.padding-store{
    padding-top: 5rem !important;
}

.height-store{
    display: flex;
    height: 17rem;
}

.delete-btn{
    margin-top: 1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 425px) {
    .card-starbuks {
        height: auto;
    }
    .padding-store{
        padding-top: 0 !important;
    }
    .height-store{
flex-direction: column;
    }
  }